* {
    margin: 0;
    padding:0;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

body {
    background-image: url('https://images.unsplash.com/photo-1559969143-b2defc6419fd?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2043&q=80');
    background-size: cover;
    background-repeat: no-repeat;    
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    padding: 20px;
    height: 100vh;
}

.page-title {
    color: #ffffff;
    margin: 0 0 5px;
}

.page-subtitle {
    color: #ffffff;
    margin-top: 5px;
}

.page-logo {
    width: 200px;
}

.alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}
fieldset {
  margin: auto;
  width: 350px;
  border: 0px solid white;
  text-align: left;
}

#AdicionarTime {
  text-align: center;
}

input[type=text] {
  text-align: center;
  cursor: pointer;
  margin:15px;
}

#vitoriasTimeNovo {
  text-align: center;
}

#empatesTimeNovo {
  text-align: center;
}

#derrotasTimeNovo {
  text-align: center;
}

label {
  color: white;
  text-align: left;
}

table {
    border: 2px solid white;
    border-collapse: collapse;
    width: 95%;
    max-width: 600px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

h1, p {
    color: white;
}

th, tr, td {
    border: solid 1px white;
    color: white;
}
